body{
    margin: 0 auto;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #FFFFFF;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

main{
    
}

:root{
    --c1: #4A55A2;
    --c2: #7895CB;
    --c3: #A0BFE0;
    --c4: #A0BFE0;
}