@font-face {
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 400;
    font-display: swap;    
    src: url('~/assets/fonts/FiraCodeNerdFont-Regular.ttf') format('truetype');
}

body{
    margin: 0 auto;
    padding:1rem;
    background-color:#202124;
    font-family: "FiraCode";
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #FFFFFF;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

main{
    
}

:root{
    --c1: #454545;
    --c2: #FF6000;
    --c3: #FFA559;
    --c4: #FFE6C7;
}

