
.navbar{
    height: auto;
    width: --webkit-fill-available;
    display: flex;
    position: relative;
    /* background-color: var(--c1); */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    border-color: var(--c2);
    border-style: solid;
    border-radius: 1rem;
    padding: 4px;

    filter: drop-shadow(4px 4px 4px var(--c2));

    .links{
        display: flex;
        flex-direction: row;
        
        .icon{
            color: var(--c3);
            size: 2rem;
            /* top | right | bottom | left */
            margin: 0 1rem 0 1rem;
        }

    }

}

#title{
    margin: 0 0 0 1rem;
    color: var(--c3);
    font-size: larger;
    width: 100%;
}

