.navbar{
    height: auto;
    width: --webkit-fill-available;
    display: flex;
    position: relative;
    /* background-color: var(--c1); */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    border-color: var(--c4);
    border-style: solid;
    border-radius: 1rem;
    padding: 4px;

}

#title{
    margin: 0;
    width: 100%;
    color: var(--c2);
    font-family: "FiraCode";
}

